# Config file for email sending

[server]
hostname = "smtp.gmail.com"
port = 465

# hostname="ssl0.ovh.net"
# port=587   //993

[user]
login = "email@example.com"
# The file containing the password is 'email.key' in the same directory as this file
# This file is seperate for security considerations
# If it doesn't exist, create it, it will be ignored by git (*.key in .gitignore)

[message]
body = "Voici vos photos prises le {date} par GaliTime, photomaton de Galiléo"
